.venv
migrations
.env
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.idea
.vscode
*.log
*.bak
*.swp
*.tmp
*.egg-info
dist
build
*.egg
*.tar.gz
*.zip

# Celery Beat schedule files
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule.bak
celerybeat.pid
